:root {
  --title-font: 'Markazi Text', serif;
  --text-font: 'Karla', sans-serif;
  --primary-color-green: #495E57;
  --primary-color-yellow: #F4CE14;
  --secondary-color-orange: #EE9972;
  --secondary-color-pink: #FBDABB;
  --secondary-color-white: #EDEFEE;
  --secondary-color-black: #333333;
}

#homehero {
  background-color: var(--primary-color-green);
}

.hero-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20rem;
  gap: 2rem;
}

.hero-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero-title {
  color: var(--primary-color-yellow);
}

.hero-subtitle {
  color: var(--secondary-color-white);
}

.hero-lead-text {
  color: var(--secondary-color-white);
  padding: 1rem 0;
}

.button-container {
  padding: 1rem 0rem;
}

.hero-button {
  background-color: var(--primary-color-yellow);
  color: var(--secondary-color-black);
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color-yellow);
  border-radius: 16px;
  transition: 0.25s;
}

.hero-button:hover {
  background-color: var(--primary-color-green);
  color: var(--primary-color-yellow);
}

.hero-image-container {
  overflow: visible;
}

.hero-image-container > img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  position: relative;
  top: 2.5rem;
}
