:root {
  --title-font: 'Markazi Text', serif;
  --text-font: 'Karla', sans-serif;
  --primary-color-green: #495E57;
  --primary-color-yellow: #F4CE14;
  --secondary-color-orange: #EE9972;
  --secondary-color-pink: #FBDABB;
  --secondary-color-white: #EDEFEE;
  --secondary-color-black: #333333;
}

#bookingform {
  background-color: var(--primary-color-green);
}

.form-container {
  padding: 1rem;
}

.input-container {
  padding: 0.5rem 2rem 0 2rem;
  color: var(--secondary-color-white);
  font-size: 1.125rem;
  font-weight: 700;
}

.input-box {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  border: 2px solid var(--secondary-color-black);
  border-radius: 8px;
  outline: none;
  background-color: var(--primary-color-green);
  color: var(--secondary-color-white);
  font-size: 1rem;
  font-weight: 500;
}

.input-box:focus, .input-box.not-empty {
  border-color: var(--primary-color-yellow);
}

.input-container > label {
  position: relative;
  /* left: 0px; */
  bottom: 34px;
  padding: 0 0.5rem;
  margin: 1rem 0.5rem;
  background: var(--primary-color-green);
  pointer-events: none;
  transition: 0.5s;
}

.input-box:focus + label, .input-box.not-empty + label {
  background: var(--primary-color-green);
  color: var(--primary-color-yellow);
  font-size: 0.75rem;
  /* padding-top: 0; */
  bottom: 58px;
}

.seating-container {
  padding-bottom: 1rem;;
}

.seating-container > legend {
  padding-bottom: 0.5rem;
}

.seating-option {
  padding: 0.5rem 1rem;
}

.seating-option > input {
  margin-right: 1rem;;
}

.button {
  background-color: var(--primary-color-yellow);
  color: var(--secondary-color-black);
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border: 0;
  border-radius: 16px;
  transition: 0.5s;
}

.button:disabled {
  opacity: 25%;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 100%;
  }
}

small {
  display: block;
}