:root {
  --title-font: 'Markazi Text', serif;
  --text-font: 'Karla', sans-serif;
  --primary-color-green: #495E57;
  --primary-color-yellow: #F4CE14;
  --secondary-color-orange: #EE9972;
  --secondary-color-pink: #FBDABB;
  --secondary-color-white: #EDEFEE;
  --secondary-color-black: #333333;
}

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--secondary-color-black);
}

body {
  font-family: var(--text-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.super-container {
  max-width: 960px;
  margin: auto;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
}

/* .flex-container > * {
  flex: 0 1 auto;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
